<h2>Записаться</h2>
<p>На этой странице вы сможете записаться к нам в Barber Shop</p>

<form action="/visit" method="POST" role="form">

  <%=@ok_message%>
  <%=@name_error_message%>
  <%=@phone_error_message%>
  <%=@date_error_message%>

  <div class="form-group">
    <label>Ваше имя</label>
    <input name="username" type="text" class="form-control" placeholder="Ваше имя">
  </div>

  <div class="form-group">
    <label>Ваш телефон</label>
    <input name="phone" type="text" class="form-control" placeholder="Ваш телефон">
  </div>

  <div class="form-group">
    <label>Когда вас ждать?</label>
    <input name="datetime" type="text" class="form-control" placeholder="Введите дату и время">
  </div>

  <p>
    <label for="select">К какому мастеру вы хотите записаться?</label><br>
    <select id="select" name="master" class="form-control">
      <option value="Walter White">Walter White</option>
      <option value="Jessie Pinkman">Jessie Pinkman</option>
      <option value="Gus Fring">Gus Fring</option>
    </select>
  </p>

  <button type="submit" class="btn btn-primary">Записаться</button>

</form>
